* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    background-color: #CCC;
}

#canvas {
    float: left;
    margin: 8px;
    border: 1px solid #AAA;
}

#menu {
    float: left;
    padding: 8px 8px 8px 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#menu > section {
    margin-bottom: 8px;
}

#menu > section:last-child {
    margin-bottom: 0;
}

#menu > section > h1 {
    font-size: 14px;
    font-weight: normal;
}

#menu > section#color-section > ul > li > label {
    padding-left: 4px;
}
